<div class="container">

  <div id="timeline">
    <div class="line main" style="height: 500px; left: 0px;">
      <div class="point" style="top: 10px;" data-event="1">
        <div></div>
      </div>

      <div class="point" style="top: 160px;" data-event="2">
        <div></div>
      </div>

      <div class="point" style="top: 450px;" data-event="3">
        <div></div>
      </div>

      <div></div>
    </div>
    <div class="line" style="top: 150px; height: 50px; left: -18px;">
      <div></div>
    </div>
    <div class="line culture" style="top: 100px; height: 300px; left: -9px;">
      <div></div>
    </div>
    <div class="line" style="top: 300px; height: 20px; left: -18px;">
      <div></div>
    </div>

  </div>
  <div class="row">
    <div class="span1">&nbsp;</div>
    <div id="events" class="span10">
      <div class="event" id="event-1">
        <h2><a href="#">Prenájom majetku</a><br><span class="label success">Oznam</span></h2>

        <div class="content">
          <p>Mestská časť Bratislava Karlova Ves oznamuje zámer prenajať majetok z dôvodu hodného osobitného zreteľa v
            zmysle § 9a ods. 9, písm. c) zákona č. 138/1991 Zb. o majetku obcí v znení neskorších predpisov:</p>

          <p>Poskytnutie nebytových priestorov v Karloveskom centre kultúry na Molecovej 2 v Bratislave Folklórnemu
            súboru
            Dolina, o. z. s vecným plnením v zmysle dohody o spolupráci.</p>

          <p>2. Prenájom nebytových priestorov v Základnej škole A. Dubčeka, na prízemí budovy na Majerníkovej 60 v
            Bratislave Rodinnému centru Dlháčik.</p>
        </div>
      </div>
      <div class="event" id="event-2">
        <h2><a href="#">Stratené hodinky</a><br><span class="label important">Straty a nálezy</span></h2>

        <div class="content">
          <p>Dňa 14.09.2011 bola Obvodnému úradu Bratislava (Okresným riaditeľstvom PZ v Bratislave IV, OO PZ Bratislava
            IV – Karlova Ves, Bratislava) odovzdaná vec (ktorej vlastník nie je známy). Informácie za účelom ustálenia
            opustenej veci poskytne Bc. Turanská, tel.: 02/59312397. Opustenú vec je možné prevziať do 15.03.2012. Po
            tomto termíne, v zmysle platnej legislatívy, pripadne vec do vlastníctva štátu.</p>
        </div>
      </div>
      <div class="event" id="event-3">
        <h2><a href="#">Parkovanie pri Terne</a><br><span class="label notice">Doprava</span></h2>

        <div class="content">
          <div class="image">
            <img src="images/debil.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
