// Place all the styles related to the timeline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$timelineColor: #DCEAF4;

#timeline {
  position: relative;
  .line {
    position: absolute;
    border-radius: 3px;
    background-color: $timelineColor;
    width: 5px;

    &:hover {
      cursor: pointer;
      background-color: #BBD8E9;
    }

    &.main:hover {
      background-color: $timelineColor;
      cursor: default;
    }

    .point {
      position: absolute;
      margin-top: -7px;
      left: -5px;
      background-color: white;
      padding: 4px 0;

      &.more div {
        width: 19px;
        height: 19px;
        margin-left: -2px;
        border-radius: 11px;
        font-size: 12px;
        text-align: center;
        line-height: 18px;
        font-weight: bold;
        color: white;
      }

      div {
        background-color: $timelineColor;
        border-radius: 8px;
        width: 15px;
        height: 15px;
      }

      &.active, &:hover {
        left: -15px;
        margin-left: 0;
        background-color: transparent;
        z-index: 100;
        margin-top: -17px;
        div {
          margin-left: -2px;
          width: 31px;
          height: 31px;
          border-radius: 31px;
          border: 4px solid #BBD8E9;
          line-height: 31px;
          font-size: 17px;
          cursor: pointer;
          color: #BBD8E9;
          background-color: white;
        }
      }

    }
    &.culture {
      background-color: #90ee90;
    }
  }

  .anchor {
    position: absolute;
    left: -200px;
    border-radius: 5px;
    background-color: $timelineColor;
    padding: 1px 3px;
    color: white;
    font-weight: bolder;
    -webkit-transform: rotate(-90deg);
  }
}

.event {
  border: 1px solid rgba(0,0,0, 0.2);
  border-radius: 5px;
  box-shadow: 3px 3px 2px #fafafa;
  margin-bottom: 20px;

  &.active {
    background-color: #FEE9CC;
  }

  .header {
    background-color: #fcfcfc;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding: 10px 20px;
    padding-bottom: 1px;
    margin-bottom: 15px;

    .tags {
      line-height: 30px;
      float: right;
    }

    h2 {
      a {
        color: #404040;
      }
    }
    .info {
      font-size: smaller;
    }
  }

  .content {
    adding: 0 20px;
    .image {
      text-align: center;
    }
    img {
      border: 1px solid gray;
    }
  }

  .interactions {
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    background-color: #fcfcfc;
    padding: 10px 20px;
    margin-top: 10px;
    p {
      margin: 0;
    }

    p a {
      background-repeat: no-repeat;
      background-position: left;
      padding-left: 22px;
      padding-right: 10px;

      &.add {
        background-image: url('/images/icons/comment_add.png');
      }
      &.many {
        background-image: url('/images/icons/comments.png');
      }
      &.like {
        background-image: url('/images/icons/thumb_up.png');
        color: green;
      }
      &.dislike {
        background-image: url('/images/icons/thumb_down.png');
        color: red;
      }
      &.watch {
        background-image: url('/images/icons/eye.png');
      }
    }
  }
  div.comments {
    border-top: 1px solid rgba(0,0,0, 0.05);
    margin-top: 10px;
    padding-top: 10px;

    .comment {
      margin: 5px 0;
      overflow: hidden;
      .user {
        float: left;
      }
      .content {
        margin-left: 50px;
      }
      textarea {
        width: 470px;
        height: 80px;
        margin-bottom: 15px;
      }
      .author {
        a {
          color: gray;
          text-decoration: underline;
        }
        color: gray;
        font-size: smaller;
      }
    }
  }
}
